[user]
	name = Tobias Tschinkowitz
	email = tobias.tschinkowitz@icloud.com
[init]
	defaultBranch = main
[credential]
	helper = /usr/libexec/git-core/git-credential-libsecret
	helper = osxkeychain
	helper = oauth
