[submodule "vim-sensible"]
	path = vim/.vim/pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "fzf.vim"]
	path = vim/.vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "nord"]
	path = vim/.vim/pack/colors/start/nord
	url = https://github.com/nordtheme/vim
[submodule "lsp"]
	path = vim/.vim/pack/plugins/opt/lsp
	url = https://github.com/yegappan/lsp
[submodule "vim-fugitive"]
	path = vim/.vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
