[submodule "vim-sensible"]
	path = vim/.vim/pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim-sleuth"]
	path = vim/.vim/pack/plugins/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
