[submodule "vim-sensible"]
	path = vim/.vim/pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "ale"]
	path = vim/.vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "fzf.vim"]
	path = vim/.vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim-colors-modus"]
	path = vim/.vim/pack/colors/start/vim-colors-modus
	url = https://github.com/c9rgreen/vim-colors-modus
